/* Action groups */
.action-group-wrapper {
  position: relative;
  display: inline;
}
.action-links .action-group {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 1em;
  left: 0;
  z-index: 99;
  -webkit-box-shadow: 2px 2px 2px 0 #d5d5d5;
  box-shadow: 2px 2px 2px 0 #d5d5d5;
  width: 200px;
}
.action-links .action-group-links {
  display: block;
  margin: 0;
  padding: 0;
}
.action-links .action-group-links li {
  display: block;
  margin: 0;
  padding: 0;
}
.action-group-wrapper .action-group-icon {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0rem 0.5rem;
    font-size: 1.5rem;
}
.action-group-wrapper .action-group-icon.btn-lg {
  padding: 0.125rem 0.875rem;
  font-size: 1.875rem;
}
.action-group-wrapper .action-group-icon.btn-sm {
  padding: -0.1875rem 0.0625rem;
  font-size: 1.3125rem;
}
@media (min-width: 768px) {
  .action-group-wrapper > .btn, .action-group-wrapper > .action-group-icon > .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

/*# sourceMappingURL=action-group.css.map */